%p
  %strong Status:
  = @requirement.status.text
%p
  %strong Condition:
  = decorate @requirement.condition
%p
  %strong Description:
  = decorate @requirement.description
%p
  %strong Remark:
  = decorate @requirement.remark
